@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
  font-family: 'Varela Round', sans-serif;
  color: #98a6ad;
  background: #2b333b;
}
html {
  background: #2b333b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto', sans-serif;
  margin: 10px 0;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #98a6ad;
}
b,
strong {
  font-weight: 500;
}
a {
  color: #2dc4b9;
}
a:hover {
  outline: 0;
  text-decoration: none;
  color: #ffffff;
}
.page {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
/* Card Box */
.card-box {
  border: 2px solid rgba(255, 255, 255, 0.07);
  background-color: #323b44;
}

/* Form components */
label {
  font-family: 'Roboto', sans-serif;
}
.form-control {
  background-color: #36404a;
  border: 2px solid rgba(238, 238, 238, 0.1);
  color: #ffffff;
  padding: 6px 12px;
  height: 36px;
}
.form-control:focus {
  background-color: #36404a;
  border: 2px solid rgba(238, 238, 238, 0.3);
  color: #ffffff;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: rgba(255, 255, 255, 0.1);
}
.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
}
.form-control:-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
}
.form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
}
.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
}
.alert-info {
  background-color: #34d3eb;
  border-color: #34d3eb;
  color: #1194a8;
}
.input-group-btn .btn {
  padding: 7px 12px;
}
.checkbox label::before {
  background-color: transparent;
  border: 2px solid #98a6ad;
}
